<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="../../Content/Images/1.png" class="img-center" height="50" width="50" />
                @Html.ActionLink("Lumea Filmelor", "PaginaProprie", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "PaginaProprie", "Home")</li>
                    <li>@Html.ActionLink("Index Filme", "Index", "Film")</li>
                    <li>@Html.ActionLink("Index Directori", "Index", "Director")</li>
                    <li>@Html.ActionLink("Guideline Genuri Filme", "Index", "GenFilm")</li>
                    <li>@Html.ActionLink("Age Restrictions", "Index", "Guideline")</li>
                    <li>@Html.ActionLink("Index Limbi", "Index", "LimbaFilm")</li>
                    <li>@Html.ActionLink("Index Users", "Index", "User")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
