@model lab3_miercuri.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Title</h2>

@Html.Label("Author", "Author:")
<br />
<p>@Model.Author</p>

@*
    @Html.Display("Author")
    @Html.DisplayFor(b => b.Author)*@

@if (Model.Publisher != null)
{
    @Html.Label("Publisher", "Publisher:")
    <br />
    <p>@Model.Publisher.Name</p>

    @Html.Label("Publisher", "ContactInfo:")
    <br />
    <p>@Model.Publisher.ContactInfo.PhoneNumber</p>
}


@if (Model.NoOfPages != 0)
{
    @Html.LabelFor(b => b.NoOfPages, "Number of Pages:")
    <p>@Model.NoOfPages</p>
}

@Html.Label("Summary", "Summary:")
<br />
<div class="panel-body">
    @if (Model.Summary.IsEmpty())
    {
        <p>This book has no summary to print.</p>
    }
    else
    {
        <p>@Model.Summary</p>
    }
</div>

@if (Model.Genres.Count > 0)
{
    @Html.Label("Genres", "Genres:")
    <br />
    <ul>
        @foreach (var genre in Model.Genres)
        {
            <li>@genre.Name</li>
        }
    </ul>
}

@if (Model.BookType != null)
{
    @Html.Label("BookType", "Book Type:")
    <br />
    @Html.DisplayFor(b => b.BookType.Name)
    <br />
    <br />
}

@using (Html.BeginForm(actionName: "Edit", controllerName: "Book", method: FormMethod.Get, routeValues: new { id = Model.BookId }))
{
    <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Update</button>
}

@using (Html.BeginForm(actionName: "Delete", controllerName: "Book", method: FormMethod.Post, routeValues: new { id = Model.BookId }))
{
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <button style="margin-right:5px" class="btn btn-primary col-lg-1" type="submit">Delete</button>
}
<br />


