
@{
    ViewBag.Title = "Index Limbi Filme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<h2 style="text-align: center;
        color: aquamarine;
        font-family: Castellar;
        border-bottom: 5px double aquamarine;
">
    @ViewBag.Title
</h2>


<table class="table table-striped table-hover ">
    <thead class="panel panel-success">
    <th>Id</th>
    <th>Limbă</th>
    <th>Update</th>
    <th>Delete</th>
    </thead>

    <tbody>
        @foreach (var l in ViewBag.LimbaFilme)
        {
            <tr>
                <td>@l.LimbaId</td>
                <td>@l.Nume</td>
                <td>
                    @using (Html.BeginForm(actionName: "Edit", controllerName: "LimbaFilm", method: FormMethod.Get, routeValues: new { id = l.LimbaId }))
                    {
                        <button type="submit" class="btn btn-link col-lg-3">Update</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm(actionName: "Delete", controllerName: "LimbaFilm", method: FormMethod.Post, routeValues: new { id = l.LimbaId }))
                    {
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        <button type="submit" class="btn btn-link col-lg-3">Delete</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


<button class="btn btn-primary col-lg-1" type="submit">@Html.ActionLink("Add Limbă", "New")</button>

<br />
<br />
